.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--win95-gray);
  overflow: hidden;
  position: relative;
  min-width: 600px;
  justify-content: space-between;
}

.main {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow: hidden;
  padding: 0.5rem;
  min-width: 600px;
}

/* Ensure the navbar stays at the top */
.container > :global(nav) {
  flex: 0 0 24px;
  min-width: 600px;
  overflow: hidden;
}

/* Ensure the footer stays at the bottom */
.container > :global(footer) {
  flex: 0 0 32px;
  min-width: 600px;
  overflow: hidden;
  border-top: 1px solid var(--win95-button-highlight);
  box-shadow: inset 0 1px 0 0 var(--win95-button-shadow);
} 